<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/" type="image" />
    
    <title>Secure Shared File Storage using Hybrid Cryptography</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body
    class="cont"
    
  >
    <div
      
    >
      <div >
        <div>
        <div >
              <a href="upload"
                ><button
                class="primary_btn"
                >
                  Upload
                </button></a
              >

              <a href="download"
                ><button
                class="secondary_btn"
                >
                  Restore
                </button></a
              >
        <br />
      </div>
    </div>
    </div>
    </div>
  </body>
</html>
<!-- class="py-2 px-4 border transform duration-200 hover:text-black hover:bg-gray-100 hover:-translate-y-1" .  -->

 <!-- class="py-2 px-4 border transform duration-200 text-black hover:text-white hover:bg-transparent bg-gray-100 hover:-translate-y-1 ml-10" -->
