<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/CRITSECURRA.svg" type="image" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/styles.css"
    />
    <title>Secure Shared File Storage using Hybrid Cryptography</title>
  </head>
  <body class="cont">
    <div>
      <div class="m-10 sm:mx-20 lg:mx-40">
        <h2 class="successTitle">
          Decrypted Successfully
        </h2>
        <a href="/return-file"
          ><button class="primary_btn">Download File</button>
        </a>
        <a href="/home"><button class="secondary_btn">Back to Home</button></a>
      </div>
    </div>
  </body>
</html>
