<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../static/" type="image"/>
    <title>Secure Shared File Storage using Hybrid Cryptography</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body class="cont">
<div>
    <div>
        <form action="/data" method="POST" enctype="multipart/form-data">
            <<<<<<< HEAD
            <input type="file" name="file" required class="w-56 mt-4 mb-10"/>
            <div>
                <a href="upload"
                >
                    <button
                            type="submit"
                            class="py-2 px-4 border transform duration-200 hover:text-black hover:bg-gray-100 hover:-translate-y-1"
                    >
                        Upload
                    </button>
                </a
                >
                <a href="/home"
                >
                    <button
                            type="button"
                            class="py-2 px-4 mt-4 sm:my-0 sm:ml-10 border transform duration-200 text-black hover:text-white hover:bg-transparent bg-gray-100 hover:-translate-y-1"
                    >
                        Back to Home
                    </button>
                </a
                >
            </div>
            <br/>
            <br/>
            <input
                    type="file"
                    name="publicKey"
                    required
                    class="fileInput"
                    style="border: none"
            />
            <div>
                <a href="upload"
                >
                    <button type="submit" class="primary_btn">Upload</button>
                </a
                >
                <a href="/home"
                >
                    <button type="button" class="secondary_btn">
                        Back to Home
                    </button>
                </a
                >
            </div>
            <input placeholder="Enter key" class="fileInput" type="url" id="key" name="key"/>
        </form>
    </div>
</div>
</body>
</html>
